{% load cms_tags menu_tags sekizai_tags static %}
<!doctype html>
<html>
<head>
    <title>{% block title %}Main_kafedra{% endblock title %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </style>
    {% render_block "css" %}
</head>
<body>
    {% cms_toolbar %}
    <div class="header">
        <div class="logo-container">
            <img src="{% static 'sm_full.jpg' %}" class="logo" alt="Лого">
            <a>Кафедра технологий программирования</a>
        </div>
        <div class="header-right">
            <div class="dropdown">
                <button class="dropbtn">Меню</button>
                <div class="dropdown-content">
                    {% show_menu 0 100 100 100 %}
                </div>
            </div>
           <div class="auth-links">
    {% if user.is_authenticated %}
        <a href="{% url 'dashboard' %}">Личный кабинет ({{ user.username }})</a>
        <a href="{% url 'logout' %}">Выйти</a>
    {% else %}
        <a href="{% url 'login' %}">Вход</a>
        <a href="{% url 'register' %}">Регистрация</a>
    {% endif %}
</div>
        </div>
    </div>

    {% block content %}
        {% placeholder "content" %}
    {% endblock content %}


            <footer class="footer">
        <div class="container">
            <h2>Контакты</h2>
            <p>Адрес: Пр. Независимости, 4, к. 511</p>
        </div>
            </footer>
       {% render_block "js" %}
    </body>
</html>


